@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap');

.navbar {
  background-color: #fff important;
}

.navbar-brand {
  color: blueviolet;
}

body {
  margin: 0;
  font-family: -'Mulish',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}